@* @model IEnumerable<FAQ>

@{
    @* ViewData["Title"] = "Home Page"; *@
    Layout = null; 
}


@foreach (var faq in Model)
{
    <div class="faq-item">
        <h3>@faq.Question</h3>
        <p>@faq.Answer</p>
    </div>
}